@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    background: hsl(47, 88%, 63%);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-main {
    max-width: 450px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 10px 10px 1px rgba(0,0,0,1);
}

.card-image img {
    width: 100%;
    border-radius: 12px;
}

.card-header,
.card-content,
.card-author {
    padding: 0 15px;
}

.category {
    display: inline-block;
    background: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card-header h1 {
    font-size: 22px;
    margin: 5px 0 10px;
    font-weight: 800;
}

.published-date {
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    font-weight: 600;
}

.card-content p {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}

.card-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.card-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
