*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #0e0e0e;
  --gray-800: #141414;
  --gray-700: #1f1f1f;
  --green: hsl(75, 94%, 57%);
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--gray-900);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
}

.profile-card {
  background-color: var(--gray-800);
  width: 100%;
  max-width: 380px;
  padding: 28px 22px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* FOTO */
.profile-photo img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 18px;
}

/* TEXTO */
.profile-name {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.profile-location {
  color: var(--green);
  font-size: 1.4rem;
  margin-bottom: 18px;
  font-weight: 500;
}

.profile-description {
  color: #ddd;
  font-size: 1.4rem;
  margin-bottom: 24px;
}

/* BOTÕES */
.social-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-btn {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--gray-700);
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s ease;
}

.social-btn:hover {
  background-color: var(--green);
  color: var(--gray-900);
}
